h1 {
    display: flex;
    justify-content: center;

}
.contenedor {
    display: flex;
    justify-content: center;
}
.pokemon {
    display: flex;
    justify-content: center;
    margin-top: 10%;    
}

img{
    width: 200px;
    height: 200px;
}